* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    align-items: center;
    align-content: center;
    background-image: url("bg.png");
    background-size: 100%;
    background-repeat: repeat-x;
    background-position: left;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.baby-container {
    background-color: #fff;
    position: relative;
    width: 45%;
    min-height: 50vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logo {
    height: 30vh;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

.catalogue-link {
    font-size: 18px;
    color: #fff;
    background-color: #d5393b;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.catalogue-link:hover {
    background-color: #0056b3;
}

/* Media Queries for Responsiveness */

/* For smaller tablets and mobile devices (768px and below) */
@media (max-width: 768px) {
    .container {
        background-size: cover;
    }

    .baby-container {
        width: 70%;
        padding: 15px;
    }

    .logo {
        height: 25vh;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }

    .catalogue-link {
        font-size: 16px;
        padding: 8px 16px;
    }
}

/* For mobile devices (480px and below) */
@media (max-width: 480px) {
    .container {
        background-size: cover;
    }

    .baby-container {
        width: 85%;
        padding: 10px;
    }

    .logo {
        height: 20vh;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }

    .catalogue-link {
        font-size: 14px;
        padding: 6px 12px;
    }
}
